rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rsvps/{rsvpId} {
      allow read, write: if true;
    }
    match /rsvps/{document=**} {
      allow read, write: if true;
    }
    match /gallery/{photoId} {
      allow read, write: if true;
    }
    match /gallery/{document=**} {
      allow read, write: if true;
    }
  }
}
